<%= form_for @qetquote, url: wizard_path, method: :put do |form| %>

  <% provide(:title, 'Quote Form')%>
<style>
  .container {
      width: 100%;
      max-width: 93%;
  }
  .container-fluid#containercolor {
    background-color:#e8ecf7;

  }
</style>

  <br><br><br><br>
  <br><br><br><br><br>
  <div class="row">
    <div class="col-sm-4">
      <h1 class="display-3">Let's get started</h1>

    </div>
    </div>
  <div class="col-lg-4">
  <div id="containercolor" class="container-fluid">



<!--
  <div class="row">

        <h1 class="display-3">Let's get started</h1>


      </div> -->
  <br><br>

  <div class="col-md-12">






      <div class="field">
        <li class="list-group-item"><%= form.label :zip, "What's your ZIP code?" %></li>
        <%= form.text_field :zip, class: "form-control"  %>
      </div>

        <div class="actions">
          <%= link_to "<button class='btn btn-primary btn-lg btn-block'>Next</button>".html_safe, next_wizard_path   %>
<br>
        </div>
      <% end %>
  </div>
  </div>

  </div>
  <br>
  <br>
