<% provide(:title, 'Home') %>

<div class="center jumbotron">
  <h1>Rocket Referrals Dev Project</h1>
  <hr><br>

  <h2> Github Repo: <a href='https://github.com/GravviSoft/RRDP_app.git'>https://github.com/GravviSoft/RRDP_app.git</a>

  <h2> Deployed To Heroku: <a href='https://young-coast-18644.herokuapp.com/'>https://young-coast-18644.herokuapp.com</a>

<br><br><br><br>
  <%=link_to 'Create an account', signup_path, class: 'btn btn-lg btn-primary' %>
</div>
