<% provide(:title, 'Home') %>

<div class="center jumbotron">
  <h1>Insurance Mtkg App</h1>
  <h4>Rocket Referrals Dev Project</h4>
  <hr><br>

  <h2> Github Repo: <a href='https://github.com/GravviSoft/RRDP_app.git'>https://github.com/GravviSoft/RRDP_app.git</a>

  <h2> Deployed To Heroku: <a href='https://young-coast-18644.herokuapp.com/'>https://young-coast-18644.herokuapp.com</a>

<br><br><br><br>
  <%=link_to 'Create an account', signup_path, class: 'btn btn-lg btn-primary' %>
</div>

<div>
  <h4>GOAL:</h4> <h4>Build a lead gen application to help insurance agents manage their marketing and advertising campaign prospects.</h4>
<br>
<div>
  <h4>Application Components:</h4>
  <ul>
    <li>Provide marketing/advertising funnel.</li>
    <li>Capture data through a form(Use free quote as bate)</li>
    <li>Add data to CRM</li>
    <li>Automate initial appointment setting</li>
    <li>Automate follow up through campaigns</li>
    <li>Provide user interfacet to train BOT</li>
  </ul>
</div>

<br>
<div>
  <h4>What problem does this app solve?</h4>

    <ul>
      <li><b>Automates Lead Capture</b>, <b>Lead Management</b> and most importantly the <b>Follow Up</b>.</li>
      <li>Automating the process of taking a client from the top of the sales funnel to the bottom, without overwhelming companies or agents with follow up tasks needed to close sales.</li>
      <!-- <li></li>
      <li></li> -->
    </ul>

</div>
<!-- <div>What problem does this app solve?
    <ul>
      <li>Proactive Lead</li>
      <li></li>
      <li></li>
      <li></li>

    </ul>

</div> -->
