@import "bootstrap-sprockets";
@import "bootstrap";

/*DECLARE VARIABLE WITH SCSS*/
$light-gray: #333;



/*Debug Styling*/

@mixin box_sizing {

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

.box {
  display: block;
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $light-gray;

  }

}

/* change the background color */
// .navbar-custom {
//     background-color: #fff;
// }

/* change the brand and text color */
// .navbar-custom .navbar-brand,
// .navbar-custom .navbar-text {
//     color: #ffcc00;
// }
//
// /* change the link color */
// .navbar-custom .navbar-nav .nav-link {
//     color: #ffbb00;
// }
//
// /* change the color of active or hovered links */
// .navbar-custom .nav-item.active .nav-link,
// .navbar-custom .nav-item:focus .nav-link,
// .navbar-custom .nav-item:hover .nav-link {
//     color: pink;
// }
// body {
//     background-color: #333;
//     color: #333;
//     margin: 33px;
// }
// .container {
//
//   background-color:#eeeeee;
//
//
// }
.navbar {
  background:transparent;
}
.footer {
  display: none;
}
body {
  background-image: url("https://storage.googleapis.com/gravvi-audio/shutterstock/shutterstock_1854489490%20(2).png");
  background-position:  100%;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 0px;
  // background-image: url("https://storage.googleapis.com/gravvi-audio/new1.png");
  // background-color: #eeeeee;
  margin: 0 0 100px;
  // background-color:#eeeeee;
  // height:770px;
  // background-position:  center;
  // background-repeat: no-repeat;
  // background-size: 100%;
  // position: relative;
  // font-family: Arial, Helvetica, sans-serif;
  // padding-top: 120px;

}

button{
  color: white

}
//
// div#MyDiv {
//   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5TRxKxM5m8cp85wyPdLbf2Dv6q3PHyxFsAw&usqp=CAU");
//   background-color: #cccccc;
//   height: 500px;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
// }


//
// body {
//  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5TRxKxM5m8cp85wyPdLbf2Dv6q3PHyxFsAw&usqp=CAU");
//   padding-top: 60px;
// }

section {
  overflow: auto;

}

textarea {
  resize: vertical;

}

.center {

  text-align: center;
  h1 {
    margin-bottom: 10px;
  }

}




/* Fonts */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;

}



h2{
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  // color: $light-gray;

}


p{
  font-size: 1.1em;
  line-height: 1.7em;

}

#logo{
  float: left;
  margin-right: 2em;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 25px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

//
// footer {
//
//   position: fixed;
//   height: 70px;
//   padding-top: 25px;
//   background-color: white;
//   bottom: 0px;
//   left: 0px;
//   right: 0px;
//   margin-bottom: 0px;
//   margin-top: 15px;
//       small {
//         float: left;
//       }
//       ul {
//         float: right;
//         list-style: none;
//         li {
//           float: left;
//           margin-left: 15px;
//           margin-right: 15px;
//         }
//       }
// }

html {
    position: relative;
    min-height: 100%;
}
// body {
//     margin: 0 0 100px; /* bottom = footer height */
// }
// header {
//   position: absolute;
//   padding-left: 1.5;
//   // padding-right: ($spacer * .5);
//   // padding-top: ($spacer * .5);
//
//   height: 100px;
//   width: 100%;
//   // background-color: #fff;
//
//
// }
.card-header{
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    // border: 1px solid black;
    // border-bottom: 1px solid black;

}
.card-body{
    padding: .75rem 1.25rem;
    background-color: #ffffff;
    border: 1px solid black;


}

// .navbar {
//   background:#ffffff;
// }
.navbar li {
    margin-left : 1em;
    margin-right : 2em;
    margin-top : 1em;
    font-family: Impact, black, sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.navbar img {
    margin-left : 2em;
    margin-right : 4em;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
        a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: black; /*BACKGROUND color for active*/
    background-color: #030033;
}

.navbar-default {
    background-color: #0f006f;
    border-color: #030033;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: black;
    // text-decoration: none;
    background-color: #66CCFF; /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
    color: black;
    text-decoration: none;
    background-color: #e8ecf7; /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
    color: black; /*Change active text color here*/
}


.btn-primary {
    color: #fff;
    background-color: #3f3aa4;
    border-color: #666666;
}

// <div class="container-fluid">

// footer {
//   background-color: #fff;
//     position: absolute;
//     bottom: 0;
//     padding-bottom: 1em;
  // padding-top: 5px;
  // border-top: 1px solid #eaeaea;


//   color: $light-gray;
//   a {
//     color: #555;
//     &:hover {
//       color: #222;
//     }
//   }
//   small {
//     float: left;
//   }
//   ul {
//     float: right;
//     list-style: none;
//     li {
//       float: left;
//       margin-left: 15px;
//     }
//   }
// }


/*Misc*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing

}

/*SideBar*/



/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}






/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
